footer{
    margin-top:50px;
	border-top:2px solid #DE5E9F;
	background: url(../images/footer-container.gif) repeat center top;
    padding: 0 0 0 15px;
}
footer .wrapper{
	max-width: 1130px;
    margin: 0 auto;
}
footer .footer-col{
	width:22%;
	float:left;
	margin-right: 2%;
	text-align: justify; 
}
footer .footer-col ul{
	padding: 0;
}
footer ul li{
	border-bottom: 1px dotted #333;
	line-height:40px;
}
footer ul li a{
	padding:20px 0;
	text-decoration: none;
	font-size: 13px;
    color: #333;
}
footer ul li a:hover{
	color:#fb6eb6;
}

footer .footer-col:last-of-type ul input , footer .footer-col:last-of-type ul button {
	display:inline-block;
}
footer .footer-col:last-of-type ul button span{
	display:block;
	border:0;
}
footer .contact-form{
	 border:0;
     padding: 1px;
}
footer .contact-form input{
     padding: 10px;
     width: 60%;
}
footer .contact-form button{
    display: block;
    padding: 1px;
    background: #464546;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e4e4e), to(#3d3c3d));
    background: -moz-linear-gradient(top, #4e4e4e, #3d3c3d);
    background: -o-linear-gradient(top, #4e4e4e, #3d3c3d);
    background: -ms-linear-gradient(top, #4e4e4e, #3d3c3d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4e4e', endColorstr='#3d3c3d');
    color: #fff;
    border: 0;
}
footer .contact-form button:hover{
	background:#fb6eb6;
}
footer .contact-form button span{
	padding: 0 15px;
}
footer ul li.contact-form button:hover span{
    border:1px solid white;
}
footer ul.social-icons li{
     border:0;
     margin: 10px 5px 0 0;
     padding: 1px;
     text-align: center;
     display:inline-block;
}
footer ul.social-icons li:hover{
     background:#fb6eb6;
}
footer ul.social-icons li a{
	padding: 5px 10px;
	width:50px;
	height: 40px;
    color: #fb6eb6;
    display: block;
    line-height: 38px;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e7e7e7));
    background: -moz-linear-gradient(top, #f5f5f5, #e7e7e7);
    background: -o-linear-gradient(top, #f5f5f5, #e7e7e7);
    background: -ms-linear-gradient(top, #f5f5f5, #e7e7e7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e7e7e7');
}
footer ul.social-icons li a:hover{	
	 background:#fb6eb6;
     color:white;
     border:1px solid white;
}
footer .pay-pal-img{
	margin: 15px 0;
	width:100px;
	height: 40px;
}