.banner{
	background: url(../images/background-1.jpg) no-repeat top center ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.box{
	position:relative;
	z-index: 1;
}
.prev , .next{
	position:relative;
	z-index:2;
	top:40%;
}

.prev{
	float:left;
  	left:10%;	
}
.next{
	float:right;
	right:8%;
}

.prev:hover, .next:hover{
	color:#00ff00;
	cursor:pointer;
	transform:  scale(1.2);
	-moz-transform:  scale(1.2);
	-webkit-transform:  scale(1.2);
	-ms-transform:  scale(1.2);
	-o-transform:  scale(1.2);
}
.courses-big-box{
	background: #DB43D2;
}
.courses-box {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: -200px -450px;
    padding: 0;
    width: 900px;
    height: 400px;
    overflow: hidden;
}
.courses{
	width:900px;
	height:400px;
	padding:0;
	margin:0;
}
.course{
	float:left;
	list-style:none;
	padding: 10px;
	width:300px;
	height:400px;
	text-align:center;
	border-top:0;
	border-bottom:0;
}
.course:hover{
    border: 2px dashed #13F2FA;
    background: #B135AA;
    border-radius: 5px;
}
.course img{
	width:150px;
	height:150px;
	border-radius: 50%;
	padding: 3px;
	background: white;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.6);
}
.course h2{
	color:white;
	background: #FF1800;
	padding: 5px;
	width:200px;
	margin:10px auto;
	border-radius: 5px;
	text-align:center;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.6);
}
.course p{
	font-weight: bold;
}
.course  p .author , .course  p .num-of-videos{
	font-family: "Comic Sans MS", cursive;
	color:#EFA2DA;
	display: block;
	line-height: 15px;
}
.course button{
	padding: 5px;
	border:0;
	background: #2525C3;
	color:white;
	border-radius: 5px;
}
.course button:hover{
    border: 1px solid black;
    box-shadow: 2px 2px 6px rgba(56,15,9,.6) , -2px -2px 6px rgba(03,99,11,0.6);
}
.skills-box{
	background: #40F9BE;
}
.skills{
	position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: -210px -450px;
	width:900px;
    padding: 0;
}
.skill{
	height:150px;
	margin:40px auto;
	padding: 0;
	text-align: center;
}
.skill-desc{
	text-align: justify;
	line-height: 20px;
	font-weight: 400;
	font-size:14px;
	font-family: Verdana, Geneva, sans-serif;
	padding: 30px;
	width:500px;
	margin:5px auto;
}
.skill:first-of-type .skill-desc{
	border-left:4px solid green;
	color:#0DA9AB;
	background: #E8EAA5;
	border-radius: 0 10px 10px 0;
	box-shadow: 2px 2px 12px rgba(56,15,9,.6) , 2px 2px 12px rgba(03,99,11,0.6);
}
.skill:last-of-type .skill-desc{
	border-right:4px solid blue;
	color:#2B55CE;
	background:#F39BF6;
	border-radius:10px 0 0 10px;
	box-shadow: 2px 2px 12px rgba(56,15,9,.6) , 2px 2px 12px rgba(03,99,11,0.6);
}
.skill-img{
	width:150px;
	height:150px;
	border-radius: 50%;
}
.skill:nth-child(even) .skill-img{
	float: right;
	margin-left: 50px;
}

.skill:nth-child(odd) .skill-img{
	float: left;
	margin-right: 50px;
}

