body {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	line-height: 20px;
	color: #000;
	min-width: 320px;
	position: relative;
	-webkit-text-size-adjust: none;
	background: url(../images/body-bg.gif) repeat-x center top #fff;
}
/*-------------------------------Start Error design------------------------------- */
.error{
	position:fixed;
	margin-left:20%;
	margin-right:20%;
	top:0;
	width:60%;
	word-wrap:wrap;
	z-index:999;
	cursor:pointer;
	background:#42bdff;
	display:none;
	font-weight:bold;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.msg-header{
	color:#b61828;
	font-weight:bolder;
}

.clear:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear:both;
}
/*-------------------------------End Of Error Design-------------------------------*/
.wrapper{
	width : 600px;
	margin: 50px auto;
	background: url(../images/bg-login.gif) no-repeat right bottom #ffffff;
	border: 1px solid #C6C5C5;
	padding: 20px;
	line-height: 30px;
	min-height: 324px;
}

.login-social{
	text-align: center;
}
.login-social a img{
	width:100%;
	height: 100%;
}
.login-social a{
	outline: none;
	display: inline-block;
	padding: 0;
	line-height: 0;
	border:0;
	height: 30px;
	width:150px;
}
#username , #password {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) ;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: all .15s ease-in-out;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;

}

#username:focus , #password:focus {
	outline: none;
	box-shadow: 0 0 8px rgba(0, 0, 0, .4);
	border: 1px solid rgba(0, 0, 0, .5);
}


.login-btn , .login-btn span{
	margin: 0;
	border:0;
	padding: 1px;

	background: #fb89b5;
	background: -webkit-gradient(linear, left top, left bottom, from(#ff95be), to(#f87dad));
	background: -moz-linear-gradient(top, #ff95be, #f87dad);
	background: -o-linear-gradient(top, #ff95be, #f87dad);
	background: -ms-linear-gradient(top, #ff95be, #f87dad);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff95be', endColorstr='#f87dad');
}
.submit-box{
	text-align: center;
}
.login-btn span{
	padding:3px 20px;
	color:#FFF;
	border:1px solid #E0D5D5;
	display: block;
	font-size: 14px;
}
.login-btn span:hover ,.login-btn:hover{
	background: #464546;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e4e4e), to(#3d3c3d));
	background: -moz-linear-gradient(top, #4e4e4e, #3d3c3d);
	background: -o-linear-gradient(top, #4e4e4e, #3d3c3d);
	background: -ms-linear-gradient(top, #4e4e4e, #3d3c3d);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4e4e', endColorstr='#3d3c3d');
}