/*Start Side Bar Design*/

.aside{
	width:25%;
	float:left;
	margin-right: 1%;
	text-transform: capitalize;
	margin: -10px;
}

.aside a{
	text-decoration: none;
}
.brands li , .products li{
	padding: 7px 2px;
	border-bottom: 1px dotted black;
	text-align: left;
	line-height: 23px;
}
.products li{
	padding:15px 0;
}
.brands li:first-of-type , .products li:first-of-type{
	border-bottom: 3px solid #fda2d0;
	color:#000;
}
.brands li a{
	color:#777777;
	transition: all .5s ease-in-out;
   -webkit-transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;
   -ms-transition: all .5s ease-in-out;
   -o-transition: all .5s ease-in-out;
}
.brands li a:hover{
	color:#fb6eb6;
	margin-left: 15px;
}
.products li:last-of-type{
	border-bottom: none;
}
.products li img {
	float:left;
	width: 40%;
	height:70%;
	margin-right: 7%;
}
.products li .product-content{
	float: right;
	width: 53%;
}
.products li .product-label a , .products li .product-price{
	font-size: 14px;
    color: #fb6eb6;
}
.products li .product-label a:hover{
	color:#000;
}
.products li .product-price-old{
	font-size: 18px;
    color: #2c282a;
    font-weight: normal;
	padding: 10px 5px 10px 0;
}
.products li .product-price-new{
	font-size: 21px;
    color: #fb6eb6;
    line-height: 21px;
    font-weight: normal;
	padding: 10px 0 10px 5px;
}
.products li .product-content .product-desc{
	padding: 5px 0;
    font-size: 12.5px;
    line-height: 20px;
    color: #777777;
}
.products li .product-content div{
    width: 100%;
}
.products li .product-content div.product-rating{
	margin: 5px 0 10px 0;
	padding: 0;
}
.products li .product-content div.product-rating img{
   width:15px;
   height:15px;
   float:left;
}
/*End Side Bar Design*/
/*Start Section Design*/
.section{
	width:74%;
	float: right;
}
/*Start Tabs Design*/
.profile-tabs{
	list-style: none;
	margin: 0;
	padding: 0;
	position:relative;
}
.profile-tabs:after{
	content: "";
	display: block;
	height: 275px;
}
.profile-tabs li{
	float:left;
	margin-right: 3px;
	display: inline-block;

}
.profile-tabs li > input{
     display:none;
}
.profile-tabs li > label{
    padding: 10px;
    background: #f4f4f4;
    font-size: 16px;
    color:#000;
    position: relative;
}
.profile-tabs li >.tab-content{
	display: none;
	margin: 7px 0;
	padding: 20px;
	width:100%;
	height:1100px;
	overflow-y:scroll;
	position:absolute;
	background: #f4f4f4;
	left: 0;

}
.profile-tabs li >.tab-content::-webkit-scrollbar {
      width: 0px;
      border-radius: 5px;
      transition: all 1s ease-in;
      -webkit-transition: all 1s ease-in;
} 

.profile-tabs li >.tab-content::-webkit-scrollbar-track {
      background-color: rgba(0,0,0,.1);
      border-radius: 5px;

}

.profile-tabs li >.tab-content::-webkit-scrollbar-thumb {
    background-color: #777777;
    border-radius: 5px;
}

.profile-tabs li >.tab-content::-webkit-scrollbar-button {
      display: none;
}

.profile-tabs li >.tab-content::-webkit-scrollbar-corner {
    background-color: #e3e3e3;
    border-radius: 5px;
}
.profile-tabs li:hover >.tab-content::-webkit-scrollbar {
      width: 7px;
}
.profile-tabs li > input:checked + label{
    background: #464546;
	color: white;
}
.profile-tabs li > input:checked + label:after{
	content: ".";
    font-size: 0;
    text-indent: -77777px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    height: 3px;
    background: #fd96c6;
}
.profile-tabs li > input:checked ~ .tab-content{
    display: block;
}
/*End Tabs Design*/
/*Start Tab Content Design*/
.tab-content .user-info{
	padding: 20px 25px;
	width:100%;
	background: white;
	background: url(../images/slide2.jpg) repeat-x center top #fff;
	background-size: cover;
	border:1px solid #f4f4f4;
	box-shadow:2px 2px 0 0 rgba(0,0,0,.1);
	border-radius: 10px;
	margin: 40px 0;
}
.tab-content .user-info .user-avatar{
	float:left;	
}
    
.tab-content .user-info .user-avatar img{
	width:200px;
	height: 200px;
	padding: 4px;
   	background-color: white;
	border:1px solid #d6d6d6;
	border-radius: 50%;
	box-shadow: 2px 2px 2px (0,0,0,.6);
}
.tab-content .user-info .user-data{
	float:left;
    margin:140px 0 0 0px;
    text-align: left;
    background: rgba(0,0,0,.3);
}
.tab-content .user-info .user-data .user-name{
	font-weight: bold;
	font-size: 18px;
	color:#fb6eb6;
}
.tab-content .user-info .user-data .user-email , .tab-content .user-info .user-data .user-address{
	color: white;
}

.tab-content .user-contacts , .tab-content .user-desc , .tab-content .user-categorys{
	float:left;
	width:49%;
	text-align: left;
	padding: 20px 25px;
	background:#fff;
	border:1px solid #f4f4f4;
	box-shadow:2px 2px 0 0 rgba(0,0,0,.1);
	border-radius: 10px;
	margin: 40px 0;
}
.tab-content .user-contacts{
	margin-right:2%; 
}

.tab-content .user-contacts h4, .tab-content .user-desc h4 , .tab-content .user-contacts span, .tab-content .user-desc span{
	color:#fb6eb6;
	padding: 10px 0 ;	
}
.tab-content .user-contacts h4, .tab-content .user-desc h4{
	border-bottom: 1px dotted black;
}
/*Start Tags Design*/

.tags ul{
	margin: 0;
	padding: 0;
}
.tags li{
	padding: 7px 2px;
	text-align: left;
    line-height: 23px;
    list-style: none;
    float:left;
    margin-right: 5px;
}
.tags li a{
    padding: 2px 10px; 
    box-shadow: 2px 2px 8px rgba(0,0,0,.5);
    font-size: 12px;
    display: block;
    text-decoration: none;
    color: #000;
     transition: all .3s ease-in-out;
   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -ms-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
}
.tags li > a:hover{
    transform: scale(1.1)rotate(15deg);
    -webkit-transform: scale(1.1)rotate(15deg);
    -moz-transform: scale(1.1)rotate(15deg);
    -ms-transform: scale(1.1)rotate(15deg);
    -o-transform: scale(1.1)rotate(15deg);
    font-size: 13px;
    color:#F47CAA;
    font-weight: bold;
}
/*End Tags Design*/
 .tab-content .user-categorys ,  .tab-content .user-categorys table {
 	width: 100%;
 	text-transform: capitalize;
 }
  .tab-content .user-categorys table .cate-header{
 	text-align: center;
 //	font-weight: bold;
 	font-size: 14px;
 	color:#fb6eb6;
 }
 .tab-content .user-categorys table tr ,.tab-content .user-categorys table tr td {
 	border:1px dotted black;
 	padding: 10px;
 }
 .tab-content .user-categorys table tr:hover:not(:first-of-type){
 	background: #F6F5F5;
 }
 .tab-content .user-categorys table ul{
 	list-style: none;
 	margin: 0;
 	padding: 0;
 }
 .tab-content .user-categorys table ul li{
 	float: none;
 	display: list-item;
 }
/*End Tab Content Design*/
/*Start New Products Design*/

.user-products , .user-label{
	background: white;
	border-radius: 10px;
	padding: 10px 25px;
	border:1px solid #f4f4f4;
	box-shadow:2px 2px 0 0 rgba(0,0,0,.1);
	margin: 40px 0;
	color:#fb6eb6;
}
.user-label{
	margin: -8px 0 -25px 0;
}
.new-products-label{
    border-bottom: 3px solid #fda2d0;
    text-align: justify;
}

.new-products-label h1{
    font-size: 20px;
    line-height: 20px;
    color: #3c3b3c;
    font-weight: 400;
    text-transform: capitalize;
}
.new-products{
	padding: 10px 0;
	width:100%;
}
.new-products .new-product{
	float: left;
	width:31%;
	margin: 10px 0;
	padding:10px;
	border:1px solid #d6d6d6;
	border-radius: 5px;
}
.new-products .new-product:hover{
	box-shadow: -3px -3px 15px rgba(0,0,0,.1),3px 3px 15px rgba(0,0,0,.1);
}
.new-product .new-product-content .new-product-price span{
	font-size: 23px;
    color: #20272c;
    line-height: 23px;
    font-weight: normal;
}
.new-products .new-product:nth-child(even){
	margin:  10px 3.5%;
}
.new-product .new-product-content{
	overflow: hidden;
    background: url(../images/wrapper-hover.gif) repeat-x center top #fff;
    padding: 28px;
    position: relative;
}
.new-product .new-product-content img{
	padding: 2px;
	background: white;
	width: 100%;
	height: 50%;
}
.new-product .new-product-content .new-product-header a{
	font-size: 16px;
    color: #fb6eb6;
    line-height: 19px;
    text-decoration: none;
    text-transform: capitalize;
}
.new-product .new-product-content .new-product-desc{
	margin-bottom: 7px;
    line-height: 18px;
    font-size: 12px;
}

.new-products .new-product-controls{
	padding: 10px;
}
.new-products .new-product-controls a{
	display: inline-block;
	text-decoration: none;
	padding: 1px;
}
.new-products .new-product-controls a.cart{
	background: #fb89b5;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff95be), to(#f87dad));
    background: -moz-linear-gradient(top, #ff95be, #f87dad);
    background: -o-linear-gradient(top, #ff95be, #f87dad);
    background: -ms-linear-gradient(top, #ff95be, #f87dad);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff95be', endColorstr='#f87dad');
}
.new-products .new-product-controls a.cart span{
	display: block;
	padding: 5px;
	color: #fff;
	font-size: 1.8em;
	border:1px solid white;
	background: #fb89b5;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff95be), to(#f87dad));
    background: -moz-linear-gradient(top, #ff95be, #f87dad);
    background: -o-linear-gradient(top, #ff95be, #f87dad);
    background: -ms-linear-gradient(top, #ff95be, #f87dad);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff95be', endColorstr='#f87dad');
}
.new-products .new-product-controls a.details{
	position: relative;
	bottom:3px;
	left: 10px;
	background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e7e7e7));
    background: -moz-linear-gradient(top, #f5f5f5, #e7e7e7);
    background: -o-linear-gradient(top, #f5f5f5, #e7e7e7);
    background: -ms-linear-gradient(top, #f5f5f5, #e7e7e7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e7e7e7');
}
.new-products .new-product-controls a.details span{
	display: block;
    font-size: 13px;
    line-height: 32px;
    padding:1px 20px;
    border: 1px solid #fff;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e7e7e7));
    background: -moz-linear-gradient(top, #f5f5f5, #e7e7e7);
    background: -o-linear-gradient(top, #f5f5f5, #e7e7e7);
    background: -ms-linear-gradient(top, #f5f5f5, #e7e7e7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e7e7e7');
    color: #333333;
}

.new-products .new-product-controls a span:hover , .new-products .new-product-controls a:hover{
    background: #464546;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e4e4e), to(#3d3c3d));
    background: -moz-linear-gradient(top, #4e4e4e, #3d3c3d);
    background: -o-linear-gradient(top, #4e4e4e, #3d3c3d);
    background: -ms-linear-gradient(top, #4e4e4e, #3d3c3d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4e4e', endColorstr='#3d3c3d');
    color: #fff;
}

/*End New Products Design*/
/*End Section Design*/
